        .btn:hover, .btn:focused{
            -fx-text-fill: red;
            -fx-border-color: red !important;
        }

        .btn{
            -fx-font-family: "DejaVu Sans";
            -fx-font-weight: bold;
        }